[submodule "spec"]
	path = spec
	url = https://github.com/open-telemetry/opentelemetry-specification.git
[submodule "opentelemetry-proto"]
	path = opentelemetry-proto
	url = https://github.com/open-telemetry/opentelemetry-proto.git
[submodule "semantic-conventions"]
	path = semantic-conventions
	url = https://github.com/open-telemetry/semantic-conventions.git
[submodule "semantic-conventions-genai"]
	path = semantic-conventions-genai
	url = https://github.com/open-telemetry/semantic-conventions-genai.git
